* {
    font-family: Arial, Helvetica, sans-serif;
    /* default for most sites is for the page to start with 0 marging and padding */
    margin: 0;
    padding: 0%;
    /* border-box makes the size be equal to whatever height and width you have given an element */
    box-sizing: border-box;


}

.title {
    height: auto;
    width: auto;
    text-align: center;
    color: hsl(36, 100%, 75%);
    background-color: hsl(253, 51%, 25%);
    font-size: 48px;
    padding: 10px;
    
}

.recipe {
    height: auto;
    display: inline-block;
    width: 300px;
    font-size: 32px;
    color: rgb(236, 143, 90);
    background-color: hsl(36, 100%, 30%);
    padding: 20px;
    margin: 10px;
}
